:root{
    --beige-claro:#edebd3;
    --beige-oscuro:#a19e7f;
    --violeta-oscuro:#524080;
    --violeta-claro:#dad3ed;
    --blanco:#fffffc;
    
}
body{
    background-attachment: fixed;
    /* background: linear-gradient(to bottom left, #000, #330055); */
    background-image: url(https://st4.depositphotos.com/22147408/23658/i/600/depositphotos_236587792-stock-photo-abstract-colorful-pattern-for-background.jpg);
}
header{
    margin-top: 45px;
    width: 100%;
    height: 95px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container{
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img{
    overflow: hidden;
}
.main-container{
    display: flex;
    margin: 20px auto;
}
.SideBar__NavSup{
    padding-left: 0;
    height: 100%;
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    
    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(8px);
    border-radius: 5px;
}


.SideBar__NavSup li{
    text-decoration: none;
    list-style: none;
    width: 25%;
    min-width: 200px;
    text-align: center;
    
}
.SideBar__NavSup a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
footer{
    display: flex;
    background-color: #000;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
}
.section__contacto{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.main__routes{
    margin: auto;
    width: 95%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.routes-container{
    color: #fff;
    width: 45%;
    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    height: max-content;
}
.totales-container{
    color: #fff;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.productos-totales{
    margin: 10px 0;
    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}
.productos-totales p{
    font-size: 1.2rem;
    padding: 0 0 0 20px;
}
.categorias-totales{
    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px;

}
.categorias-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 11px;
}
.categorias-container p{
    margin: 2px;
}
.ultimo-producto__container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    max-height: 400px;
}
.ultimo-producto__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.ultimo-producto__info p{
    font-size: 1.09rem;
}
.ultimo-producto__info a{
    text-decoration: none;
    font-weight: 600;
    color: var(--violeta-oscuro);
}
.product-image__container{
    margin: auto;
    width: 90%;
    object-position: center;
    object-fit: cover;
    max-height: 250px;
}
.product-image__container img{
    width: 100%;
}
.cargando__container{
    margin: 150px auto;
    text-align: center;
}
.cargando-logo{
    border: solid 2px #dad3ed94;
    border-top: 2px solid var(--violeta-oscuro);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: cargando 1s linear infinite;
    margin:8px auto;
}
@keyframes cargando {
    to {
      transform: rotate(360deg);
    }
  } 
