:root{
    --beige-claro:#edebd3;
    --beige-oscuro:#a19e7f;
    --violeta-oscuro:#524080;
    --violeta-claro:#dad3ed;
    --blanco:#fffffc; 
}

    body{
        background: linear-gradient(270deg, var(--violeta-oscuro), var(--beige-claro),  var(--violeta-oscuro));
       background-size: 600% 600%;
   
       -webkit-animation: animacion1 15s ease infinite;
       -moz-animation: animacion2 15s ease infinite;
       animation: animacion3 15s ease infinite;
   }
   
   @-webkit-keyframes animacion1 {
       0%{background-position:0% 50%}
       50%{background-position:100% 50%}
       100%{background-position:0% 50%}
   }
   @-moz-keyframes animacion2 {
       0%{background-position:0% 50%}
       50%{background-position:100% 50%}
       100%{background-position:0% 50%}
   }
   @keyframes animacion3 {
       0%{background-position:0% 50%}
       50%{background-position:100% 50%}
       100%{background-position:0% 50%}
   }

header{
    margin: auto;
    width: 97%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.3px #ffffff4a;
    padding: 5px 0;
}
h2{
    padding: 0 8px;
    margin: 8px 0 8px 0;
}
.logo-container{
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img{
    overflow: hidden;
}
.main-container{
     margin: 28px 28px;
    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.43);
    backdrop-filter: blur(8px);
}
.main__content{
    display: flex;
    padding: 20px 0;
}
.SideBar__NavSup{
    padding-left: 0;
    height: 100%;
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;


    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(8px);
    border-radius: 5px;
}


.SideBar__NavSup li{
    text-decoration: none;
    list-style: none;
    min-width: 150px;
    text-align: center;
    margin: 20px 17px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 2px var(--violeta-claro);
}
.SideBar__NavSup a{
    text-decoration: none;
    color: var(--violeta-oscuro);

    font-size: 1.3rem;
}
.SideBar__NavSup a:hover{
    font-weight: bold;
    color: #000;
}

.main__routes{
    margin: auto;
    width: 95%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.routes-container{
    color: #fff;
    width: 45%;
    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(5px);
    color: var(--violeta-oscuro);
    border-radius: 5px;
    height: max-content;
}
.totales-container{
    color: #fff;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.productos-totales__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 30%;
    flex-wrap: wrap;
}
.productos-totales{
    margin: 0 0 10px 0;
    color: var(--violeta-oscuro);
    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 43%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productos-totales h2{
    font-size: 40px;
    padding-left: 25px;
}
.productos-totales i{
    font-size: 30px;
    padding: 0 20px;
}
.productos-totales p{
    margin: 4px 0 15px 0;
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px;
}

.productos-totales .productos-totales__categorias{
    font-size: 1.2rem;
    padding: 0 0 0 20px;
}
.categorias-totales{
    border: solid 1px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    color: var(--violeta-oscuro);
    padding: 10px;

}
.categorias-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 11px;
}
.categorias-container p{
    margin: 2px;
}
.categorias__progress {
    height: 20px;
    width: 80%;
    border: 1px solid var(--violeta-oscuro);
    border-radius: 5px;
    background-color: var(--beige-claro);
    margin-bottom: 8px;
}
 
.categorias__progress-bar {
    height: 100%;
    background: var(--violeta-oscuro);
    display: flex;
    border-radius: 5px;
}
.ultimo-producto__container{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}
.ultimo-producto__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.ultimo-producto__info p{
    font-size: 1.09rem;
}
.ultimo-producto__info a{
    text-decoration: none;
    font-weight: 600;
    color: var(--violeta-oscuro);
}

.product-image__container{
    margin: auto;
    width: 90%;
    object-position: center;
    object-fit: cover;
   
}
.product-image__container img{
    width: 100%;
}
.cargando__container{
    margin: 150px auto;
    text-align: center;
}
.cargando-logo{
    border: solid 2px #dad3ed94;
    border-top: 2px solid var(--violeta-oscuro);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: cargando 1s linear infinite;
    margin:8px auto;
}
@keyframes cargando {
    to {
      transform: rotate(360deg);
    }
  } 

  .image-profile__container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
.image-profile__container img {
    height: 100%;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    max-width: 100%;
}

.fila__usuario{
    display: flex;
    align-items: center;
    margin: 8px;
    justify-content: space-between;
    box-shadow: 0px 0px 2px #5c5b5b8f;
    padding: 8px;
}
.lista-usuarios__container{
    padding: 10px;
}
.fila__producto{
    display: flex;
    align-items: center;
    margin: 8px;
    justify-content: space-between;
    box-shadow: 0px 0px 2px #5c5b5b8f;
    padding: 8px;
}
.image-product__container{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}
.image-product__container img{
    height: 100%;
    object-position: center;
    object-fit: cover;
    max-width: 100%;
}

.lista-productos__container{
    padding: 10px;
    overflow: scroll;
    max-height: 450px;
    scrollbar-width: 1px;
}